/* top style */

#top {
  background-color: var(--top-bot-color);
  height: 2rem;
}

.top-center {
  width: var(--global-width);
  max-width: var(--global-max-width);
  margin: 0 auto;
  display: flex;
}

.top-contact-mail {
  width: calc(var(--global-width) / 2);
}

.top-contact-number {
  width: calc(var(--global-width) / 2);
}

.top-contact-mail p {
  padding-right: var(--top-intern-padding-lr);
  float: right;
}

.top-contact-number p {
  padding-left: var(--top-intern-padding-lr);
  float: left;
}

#top p {
  padding-top: var(--top-intern-padding-top);
  color: var(--text-general-color);
  font-size: 14px;
  font-weight: 600;
}

/* nav bar main */

#navbar {
  background-color: var(--header-main-color);
  height: 6rem;
}

.nav-main-center {
  /* background-color: aqua; */
  width: var(--global-width);
  max-width: var(--global-max-width);
  margin: 0 auto;
  display: flex;
  /* justify-content: space-between; */
}

/* logo init */

.nav-logo {
  /* background-color: brown; */
}

.nav-img {
  /* background-color: black; */
  height: 6rem;
  width: fit-content;
}

.nav-img img {
  height: 6rem;
  padding: 15px;
}

/* logo end */

/* search-bar init */

.nav-search-bar {
  height: 6rem;
}

#search-bar-center {
  display: flex;
  margin-top: 1.45rem;
}

.search-input {
  height: 3rem;
  width: 22rem;
  outline: none;
  padding: 20px;
  border: none;
  border-radius: 40px 0 0 40px;
}

#search-icon {
  width: 5rem;
  outline: none;
  border: none;
  border-radius: 0 40px 40px 0;
}

/* search-bar end */
