/* top style */

#top {
  background-color: var(--top-bot-color);
  height: var(--top-height);
}

.top-center {
  width: var(--global-width);
  max-width: var(--global-max-width);
  margin: 0 auto;
  display: flex;
}

.top-contact-mail {
  width: calc(var(--global-width) / 2);
}

.top-contact-number {
  width: calc(var(--global-width) / 2);
}

.top-contact-mail p {
  padding-right: var(--top-intern-padding-lr);
  float: right;
}

.top-contact-number p {
  padding-left: var(--top-intern-padding-lr);
  float: left;
}

#top p {
  padding-top: var(--top-intern-padding-top);
  color: var(--text-general-color);
  font-size: 14px;
  font-weight: 600;
}

/* nav bar main */

#navbar {
  background-color: var(--main-color);
  height: calc(var(-nav-bar-main-height + --nav-bar-bot-height));
  margin-bottom: var(--margin-nav-bar-bot);
}

.nav-main-center {
  /* background-color: aqua; */
  width: var(--global-width);
  max-width: var(--global-max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* logo init */

/* .nav-logo {
  background-color: brown;
} */

.nav-img {
  /* background-color: black; */
  height: 6rem;
  width: fit-content;
}

.nav-img img {
  height: 6rem;
  padding: 15px;
}

/* logo end */

/* search-bar init */

.nav-search-bar {
  height: 6rem;
}

#search-bar-center {
  display: flex;
  margin-top: 1.45rem;
}

.search-input {
  height: 3rem;
  width: 22rem;
  outline: none;
  padding: 20px;
  border: none;
  border-radius: 40px 0 0 40px;
}

#search-icon {
  width: 5rem;
  outline: none;
  border: none;
  border-radius: 0 40px 40px 0;
}

/* search-bar end */

/* cart init */

.cart {
  height: 6rem;
  background-color: red;
}

.cart-icon {
  display: flex;
}

.icon-text p {
  margin-top: 4rem;
  font-size: 17px;
  font-weight: 700;
}

.icon-text-underline {
  width: 10px;
  height: 2px;
  background-color: black;
  margin: 0 auto;
}

.icon {
  height: 5rem;
  width: 5rem;
  background-color: blue;
  margin-top: 7.2px;
}

.login-section {
  margin: auto 0;
}

.login-section a {
  text-decoration: none;
  color: black;
}

.login-underline {
  width: 7rem;
  height: 2px;
  background-color: black;
  margin: 0 auto;
  margin-top: 2px;
}

/* cart end */

/* nav list init*/

#nav-botton {
  height: var(--nav-bar-bot-height);
  background-color: var(--sec-color);
}

.nav-botton-center {
  width: var(--global-width);
  max-width: var(--global-max-width);
  margin: 0 auto;
  /* background-color: coral; */
  height: 2.5rem;
}

.nav-botton-section {
  padding: 4.5px;
  display: flex;
  justify-content: center;
}

.nav-botton-section a {
  /* background-color: darkgoldenrod; */
  padding: 5px 80px 5px 80px;
  /* border-left: 1px solid white; */
  /* border-right: 1px solid white; */
  font-size: 15px;
  font-weight: 700;
  color: white;
}

.nav-botton-section a:hover {
  /* background-color: darkgoldenrod; */
  transition: 0.2s;
  background-color: white;
  color: var(--sec-color);
}

.nav-botton-line {
  margin: auto 0;
  height: 1rem;
  width: 2px;
  background-color: white;
}

/* nav list end */

/* carousel init */

#carousel {
  height: 100%;
  margin-bottom: 4rem;
  /* background-color: azure; */
}

.carousel-center {
  width: var(--global-width);
  max-width: var(--global-max-width);
  margin: 0 auto;
  /* background-color: aqua; */
}

.ca-center {
  display: flex;
  justify-content: center;
}

.ca-image {
  width: 100%;
  /* object-fit: cover; */
}

.ca-image:hover {
  /* border: 1px solid white; */
}

.ca-container-1 {
  width: 50%;
}

.ca-container-2 {
  margin-top: 2.5%;
  width: 20%;
}

.ca-link {
  /* background-color: brown; */
}

/* carousel end */

/* card-container init */

#card-container {
  margin-bottom: 10rem;
  /* background-color: blue; */
}

.container-center {
  width: 60vw;
  max-width: 702px;
  margin: 0 auto;
  /* background-color: brown; */
}

.line {
  width: 100%;
  display: flex;
  /* padding: 10px; */
  /* background-color: green; */
}

.prod-card {
  background-color: cornsilk;
  width: 25%;
  /* margin: 0 auto; */
  padding: 5px;
  border-radius: 15px;
  margin: 10px;
}

.card-img {
  width: 100%;
  padding: 5px;
  /* padding: 20px; */
  border-radius: 19px;
}

.card-text {
  font-size: 100%;
  text-align: center;
  color: var(--text-main-black);
  overflow: hidden;
}

.card-link {
  text-decoration: underline;
}

.card-item {
  /* background-color: aqua; */
}

/* card-container end */

#banner {
  width: 100%;
  height: 200px;
  background-color: red;
  margin-bottom: 12rem;
}

/* footer init */

#footer {
  height: 20rem;
  background-color: var(--sec-color);
}

.footer-center {
  width: var(--global-width);
  max-width: var(--global-max-width);
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
}

.fo-container {
  margin-top: 30px;
}

.fo-title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-main-black);
}

/* contact init */
.contact {
  margin-bottom: 10px;
}

.contact p {
  font-weight: 700;
  padding-top: 5px;
  color: var(--text-general-color);
}

.contact-bar {
  height: 2.5rem;
  padding-right: 1px;
  padding-left: 5px;
  border: 2px solid black;
  border-radius: 0 25px 25px 0;
}
/* contact end */

/* address init*/
.local {
  margin-bottom: 10px;
}

.local p {
  text-align: center;
  color: var(--text-general-color);
}

.fo-nav {
  margin-bottom: 10px;
}

.fo-nav P {
  text-decoration: underline;
  text-align: center;
  color: var(--text-general-color);
}
/* address end */

.copy {
  height: 1.5rem;
  background-color: var(--top-bot-color);
}

.copy-center {
  float: right;
  padding-right: 10px;
}

.copy p {
  text-transform: capitalize;
  color: var(--text-general-color);
}

/* footer end */
