/* top style */

#top {
  background-color: var(--top-bot-color);
  height: var(--top-height);
}

.top-center {
  width: var(--global-width);
  max-width: var(--global-max-width);
  margin: 0 auto;
  display: flex;
}

.top-contact-mail {
  width: calc(var(--global-width) / 2);
}

.top-contact-number {
  width: calc(var(--global-width) / 2);
}

.top-contact-mail p {
  padding-right: var(--top-intern-padding-lr);
  float: right;
}

.top-contact-number p {
  padding-left: var(--top-intern-padding-lr);
  float: left;
}

#top p {
  padding-top: var(--top-intern-padding-top);
  color: var(--text-general-color);
  font-family: var(--font-content);
  font-size: 90%;
  padding-top: 6px;
}

/* nav bar main */

#navbar {
  background-color: var(--main-color);
  height: calc(var(-nav-bar-main-height) + var(--nav-bar-bot-height));
  margin-bottom: var(--margin-nav-bar-bot);
}

.search-cart-union {
  display: flex;
}

.nav-main-center {
  /* background-color: aqua; */
  /* width: var(--global-width); */
  /* max-width: var(--global-max-width); */
  width: 100vw;
  max-width: var(--global-max-width);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */
}

/* logo init */

.nav-img {
  /* background-color: black; */
  height: 6rem;
  /* width: fit-content; */
}

.nav-img img {
  height: 6rem;
  padding: 15px;
}

/* logo end */

/* search-bar init */

.nav-search-bar {
  height: 6rem;
  margin-right: 15px;
}

#search-bar-center {
  display: flex;
  margin-top: 1.45rem;
}

.search-input {
  height: 3rem;
  width: 22rem;
  outline: none;
  padding: 20px;
  border: none;
  border-radius: 40px 0 0 40px;
  font-family: var(--font-main);
  font-size: 90%;
  background-color: var(--text-general-color);
}

#search-icon {
  height: 3rem;
  width: 5rem;
  outline: none;
  border: none;
  border-radius: 0 40px 40px 0;
  background-color: var(--text-main-black);
}

#search-icon:hover {
  cursor: pointer;
}

#search-icon:active {
  background-color: rgba(5, 5, 5, 0.7);
}

.search-icon-font {
  font-size: 150%;
  color: var(--text-general-color);
}

/* search-bar end */

/* cart init */

.cart {
  height: 100%;
}

.cart-icon {
  display: flex;
}

.cart-icon-font {
  font-size: 300%;
  margin-top: 30px;
}

.cart-font {
  color: var(--text-general-color);
}

.login-section {
  text-align: center;
}

.icon-text p {
  margin-top: 55px;
  font-weight: 700;
}

.icon-text-underline {
  width: 10px;
  height: 2px;
  background-color: var(--text-general-color);
  margin: 0 auto;
}

.icon {
  height: 5rem;
  width: 5rem;
  background-color: blue;
  margin-top: 7.2px;
}

.login-section {
  margin: auto 0;
}

.login-section a {
  text-decoration: none;
}

.login-text {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 80%;
  color: var(--text-general-color);
}

.login-underline {
  width: 5rem;
  height: 2px;
  background-color: var(--text-general-color);
  margin: 0 auto;
  margin-top: 2px;
}

/* cart end */

/* nav list init*/

#nav-botton {
  height: var(--nav-bar-bot-height);
  background-color: var(--sec-color);
}

.nav-botton-center {
  width: var(--global-width);
  max-width: var(--global-max-width);
  margin: 0 auto;
  /* background-color: coral; */
  height: 2.5rem;
}

.nav-botton-section {
  /* padding: 4.5px; */
  display: flex;
  justify-content: space-around;
}

.nav-botton-container {
  width: 25%;
  height: 2.5rem;
  /* background-color: red; */
  text-align: center;
}

.nav-botton-container:hover {
  /* background-color: darkgoldenrod; */
  transition: 0.2s;
  background-color: white;
}

.nav-botton-text-color:hover {
  transition: 0.2s;
  color: var(--sec-color);
}

.nav-botton-text {
  height: 100%;
  font-family: var(--font-main);
  font-size: 89%;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--text-general-color);
  padding-top: 8px;
}

.nav-botton-line {
  margin: auto 0;
  height: 1rem;
  width: 2px;
  background-color: white;
}

/* nav list end */

/* carousel init */

#carousel {
  height: 100%;
  margin-bottom: 4rem;
  /* background-color: azure; */
}

.carousel-center {
  width: var(--global-width);
  max-width: var(--global-max-width);
  margin: 0 auto;
  /* background-color: aqua; */
}

.ca-center {
  display: flex;
  justify-content: center;
}

.ca-image {
  width: 100%;
  /* object-fit: cover; */
}

.ca-container-1 {
  width: 50%;
}

.ca-container-2 {
  margin-top: 2.5%;
  width: 20%;
}

/* carousel end */

/* card-container init */

#card-container {
  margin-bottom: 10rem;
  /* background-color: blue; */
}

.container-center {
  width: 60vw;
  max-width: 702px;
  margin: 0 auto;
  /* background-color: brown; */
}

.line {
  width: 100%;
  display: flex;
  /* padding: 10px; */
  /* background-color: green; */
}

.prod-card {
  background-color: cornsilk;
  width: 25%;
  /* margin: 0 auto; */
  padding: 5px;
  border-radius: 15px;
  margin: 10px;
}

.card-img {
  width: 100%;
  padding: 5px;
  /* padding: 20px; */
  border-radius: 19px;
}

.card-text {
  /* font-size: 100%; */
  text-align: center;
  font-size: 90%;
  font-family: var(--font-main);
  color: var(--text-main-black);
  margin-bottom: 5px;
}

.price-text {
  font-weight: 700;
  margin-bottom: 10px;
}

#product-price {
  font-size: 95%;
  /* color: red; */
}

.card-link {
  text-decoration: underline;
}

/* card-container end */

#banner {
  height: 200px;
  margin-bottom: 12rem;
}

.banner-center {
  width: 100vw;
  max-width: 1500px;
  margin: 0 auto;
}

.banner-game-mania {
  width: 100%;
}

/* footer init */

#footer {
  height: 20rem;
  background-color: var(--sec-color);
}

.footer-center {
  width: var(--global-width);
  max-width: var(--global-max-width);
  margin: 0 auto;
  height: 100%;
  display: flex;
  /* background-color: aqua; */
}

.fo-container {
  margin-top: 30px;
  width: 100%;
}

.fo-title {
  /* font-size: 18px; */
  font-weight: 300;
  font-size: 120%;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-main-black);
  justify-content: center;
  font-family: var(--font-title);
}

/* contact init */
.contact {
  display: flex;
  margin-bottom: 8px;
}

.contact-content,
.address-content,
.footer-content {
  font-family: var(--font-content);
  font-weight: 700;
}

.text-content-font {
  font-weight: 700;
  font-size: 130%;
  color: var(--text-general-color);
}

.contact-bar01 {
  /* border */
  border-width: 2px 0 2px 2px;
  border-style: solid;
  border-color: black;
  /* padding */
  padding: 5px 0 5px 0;
  /* width */
  width: 230px;
}

.contact-bar02 {
  /* border */
  border-width: 2px 2px 2px 0;
  border-style: solid;
  border-color: black;
  border-radius: 0 20px 20px 0;
  /* padding */
  /* padding: 5px 0 5px 0; */
  width: 45px;
}

.contact-content {
  margin-left: 5px;
}

.contact-icon {
  margin-left: 5px;
  margin-top: 2px;
  font-size: 210%;
}

/* contact number */
.contact-number-text {
  background-color: #4fa792;
}
.contact-number-icon {
  background-color: #075e54;
}

/* contact instagram */
.contact-insta-text {
  background-color: #b4507d;
}
.contact-insta-icon {
  background-color: #d90429;
}

/* contact facebook */
.contact-face-text {
  background-color: #6d7297;
}
.contact-face-icon {
  background-color: #4267b3;
}

/* contact mail */
.contact-mail-text {
  background-color: #948f84;
}
.contact-mail-icon {
  background-color: #c7b408;
}

/* contact end */

/* address init*/
.local {
  margin-bottom: 10px;
}

.local p {
  text-align: center;
  color: var(--text-general-color);
}

.fo-nav {
  margin-bottom: 10px;
}

.fo-nav P {
  text-decoration: underline;
  text-align: center;
  color: var(--text-general-color);
}
/* address end */

.copy {
  height: 1.5rem;
  background-color: var(--top-bot-color);
}

.copy-center {
  float: right;
  padding-right: 10px;
}

.copy p {
  text-transform: capitalize;
  color: var(--text-general-color);
}

/* footer end */

@media (max-width: 720px) {
  .nav-main-center {
    display: block;
    text-align: center;
  }

  .search-cart-union {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .nav-search-bar {
    height: 100%;
  }

  .search-input {
    width: 18rem;
    font-size: 80%;
  }

  .nav-botton-text {
    font-size: 70%;
    padding-top: 10px;
  }

  .nav-botton-section {
    justify-content: space-between;
  }

  .nav-botton-section a {
    padding: 5px 0px 0px 0px;
  }

  .nav-botton-line {
    margin: 0;
    height: 0;
    width: 0;
    background-color: none;
  }
}
